* {
  margin: 0;
  padding: 0;
}

.color {
  border: black solid 1px;
  display: inline-block;
  width: 40px;
  height: 40px;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}

#pixel-board {
  width: 250px;
  height: 250px;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: black solid 1px;
  display: inline-block;
}
